.App {
  display: flex;
  place-items: center;
  background-color: #dadbd3;
  height: 97vh;
  width: 99vw;

}

.app__body{
  display: flex;
  background-color: #ededed;
  margin-top: 136px;
  margin-bottom: 134px;
  height: 97vh;
  width: 99vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}