.Sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.Sidebar_header {
    display: flex;
    justify-content: space-between;
    padding: 27px;
    border-right: 1px solid lightgrey;
}

.Sidebar_headerRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.Sidebar_searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    height: 35px;
    width: 100%;
    border-radius: 20px;
}

.Sidebar_searchContainer >input{
    border: none;
    margin-left: 10px;
}

.Sidebar_searchContainer > .MuiSvgIcon-root {
    color:gray;
    padding: 10px;
}


.Sidebar_headerRight > .MuiSvgIcon-root {
    margin-right: 2vw;
    font-size: 24px !important;
}

.Sidebar_chats{
    flex: 1;
    background-color: white;
    overflow: auto;
}


.Sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}